div.wrapper {
    button {
        background-color: $mainColor;
        border: none;
        border-radius: 50%;
        position: fixed;
        color: red;
        bottom: 5%;
        right: 5%;
        width: 50px;
        height: 50px;
        // display: none;
    }
}